* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(18, 41, 65);
}

#root {
  --white: #eee;
  --black: #000;
  --grey: rgb(127, 127, 127);
  --shadow: rgba(149, 157, 165, 0.2);
  --walls: blue;
  --boxes: brown;
  --player: green;
  --way: burlywood;
  --wayLighter: #edcba3;
  --wayDarker: #9d5039;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--way);
  width: 500px;
  margin-inline: 1em;
}
.cell {
  border: 1px solid var(--black);
}

.cellDiv {
  background-position: 'center';
  aspect-ratio: 1;
  background-repeat: 'no-repeat';
  background-size: cover;
  background-position: center;
  color: white;
}

#impossibleDiv {
  margin-inline: 1em;
  color: red;
  font-weight: bold;
}

.box {
  filter: brightness(150%);
  border-radius: 5px;
  border: 2px solid black;
}

.boxOnTarget {
  border-radius: 5px;
  filter: hue-rotate(45deg);
  border: 2px solid black;
}

.winning-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  color: var(--player);
  background: none;
}

#statisticsDiv {
  display: flex;
  flex-direction: column;
  color: var(--wayDarker);
  background-color: var(--wayLighter);
  width: fit-content;
  height: fit-content;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border: 1px solid var(--wayDarker);
  border-radius: 5px;
  align-self: center;
  align-items: center;
}

.statisticData {
  margin-bottom: 0.2rem;
}

#timerDiv {
  width: fit-content;
  padding: 0.7rem 1rem 0.7rem 1rem;
  margin-top: 1rem;
  border: 1px solid var(--wayDarker);
  border-radius: 5px;
}

#gameBoradWithStatistics {
  display: flex;
}
