* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* colors (temporary)*/
#root {
  --white: #eee;
  --black: #000;
  --grey: rgb(127, 127, 127);
  --shadow: rgba(149, 157, 165, 0.2);
  --walls: blue;
  --boxes: brown;
  --player: green;
  --way: burlywood;
}
.message {
  color: var(--player);
}
.gameBoard {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--way);
  width: 500px;
  margin-inline: 1em;
}
.cell {
  border: 1px solid var(--black);
}

.cellDiv {
  background-position: "center";
  aspect-ratio: 1;
  background-repeat: "no-repeat";
  background-size: cover;
  background-position: center;
  color: transparent;
}

#impossibleDiv {
  margin-inline: 1em;
  color: red;
  font-weight: bold;
}

.box {
  filter: brightness(130%);
}

.boxOnTarget {
  filter: brightness(60%);
}
