* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(18, 41, 65);
}

#root {
  --white: #eee;
  --black: #000;
  --grey: rgb(127, 127, 127);
  --shadow: rgba(149, 157, 165, 0.2);
  --walls: blue;
  --boxes: brown;
  --player: green;
  --way: burlywood;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--way);
  width: 500px;
  margin-inline: 1em;
}
.cell {
  border: 1px solid var(--black);
}

.cellDiv {
  background-position: "center";
  aspect-ratio: 1;
  background-repeat: "no-repeat";
  background-size: cover;
  background-position: center;
  color: white;
}

#impossibleDiv {
  margin-inline: 1em;
  color: red;
  font-weight: bold;
}

.box {
  filter: brightness(150%);
  border-radius: 5px;
  border: 2px solid black;
}

.boxOnTarget {
  border-radius: 5px;
  filter: hue-rotate(45deg);
  border: 2px solid black;
}
main{
  position: relative;
}
.winning-message {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  color: var(--player);
  background: none;
}

#timerDiv {
  width: fit-content;
  padding: 0.7rem 1rem 0.7rem 1rem;
  border: 1px solid var(--black);
  margin: 1rem 0 0 190px;
}

#gameStatus{
  /* put the text in center of the main */
  position: absolute;
  bottom: 40%;
  text-align: center;
  width:90%;

  z-index: 1;


  margin: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--white);
  background-color: var(--black);
  padding:0.5em;
}