.arrow-container {
  display: flex;
  width: 1110px;
  justify-content: space-between;
  
  
}

.arrow {
  width: 100px;
  height: 80px;
  display: flex;
  
  transform: translateY(-460px);
  z-index: 9999;
}
.right {
  transform: translateY(-460px) rotate(-180deg);
}
