.arrow-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 180px;
}

.arrow {
  width: 100px;
  height: 80px;
  display: flex;

  transform: translateY(-500px);
  z-index: 9999;
}
.right {
  transform: translateY(-500px) rotate(-180deg);
}
